<!--Intro and service-->
<div id="about" class="section scrollspy">
  <br>
    <div class="container">
        <div class="row">
            <div  class="col s5">
                <h4 class="header text_h2_zero"> <span class="span_h2">Welcome Back <%= @user.first_name %>!</span></h4>
            </div>

            <div class="col s1">
              <p></p>
            </div>

            <div class="col s5">
              <div class="row">
                <form>
                  <input type="text" class="user_search_bar" placeholder="Search for something"/>
                  <button class="btn waves-effect waves-light makeBlue user_search_btn" type="submit" name="commit" value="Submit Form Data">
                    <i class="fa fa-search"></i>
                  </button>
              </div>

                  <!-- <h6>Searching for: <span ng-bind="prCtrl.formData"></span></h6> -->
                </form>
            </div>

            <div class="col s12 m6 l6">
              <h5 class="header text_h2_zero">Here are your current posts:</h5>
            </div>

            <div class="col s12 m4 l4">
              <h5 class="header text_h2_zero"><span class="span_h2">Here are your relevent posts:</span></h5>
            </div>

            <div  class="col s12 m6 l6">
                <div class="promo promo-example">

                  <% @post = Post.new %>
                  <%= render 'posts/form' %>
                  <br>
                  <% @users.posts.each do |post| %>
                    <li><h6 class="promo-caption"><%= post.post %></h6></li>
                  <% end %>

                </div>
            </div>

            <div class="col s12 m4 l4">
                <div class="promo promo-example">
                    <h5 class="promo-caption">|</h5>
                    <p class="light">|</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Session:</strong>
  <%= @user.session_id %>
</p>

<p>
  <strong>Email token:</strong>
  <%= @user.email_token %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
