<!--Intro and service-->
<div id="about" class="section scrollspy">
  <br>
    <div class="container">
        <div class="row">
          <div class="row">
            <div  class="col s12">
              <h4 class="header hPad text_h2_zero user_header_reduce"><span class="span_h2">Welcome Back <%= @user.first_name %>!</span></h4>
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger user_settings_btn blue" href="#modal3">Settings</a>
            </div>

            </div>
            <div class="row">
              <div class="col s12 m6 l6">
                <div  class="col s12 m12 l12">
                  <h5 class="header text_h2_zero"><span class="span_h2">Here are your current posts:</span></h5>
                    <div class="promo promo-example">

                      <% @post = Post.new %>
                      <%= render 'posts/form' %>
                      <br>
                      <% @users.posts.reverse.each do |post| %>
                        <li class="postList"><h6 class="promo-caption"><%= post.post %></h6></li>
                      <% end %>

                    </div>
                </div>
              </div>

              <div class="col s12 m6 l6">
                <h5 class="header text_h2_zero"><span class="span_h2">Here are your relevent posts:</span></h5>
                <div class="promo promo-example">

                  <form>
                    <input type="text" class="user_search_bar" placeholder="Search for something"/>
                    <button class="btn waves-effect waves-light blue user_search_btn_right" type="submit" name="commit" value="Submit Form Data">
                      <i class="fa fa-search btnsze"></i>
                    </button>
                  </form>

                  <br>

                    <h5 class="promo-caption"></h5>
                    <p class="light"></p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>



<!--User Settings Modal-->

  <!-- Modal Structure -->
  <div id="modal3" class="modal">
  <div class="modal-content">
    <h4 class="center"><span class="span_h2">User Settings</span></h4>
    <div class="row">
      <div class="input-field col s10 offset-s1">
        <form class="" action="<%= users_path %>" method="post">
          <div class="userAuth">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input value="user" type="hidden" name="user[role]" id="user_role">
          </div>

            <div class="field">
              <input type="text" class="materialize-textarea" name="user[first_name]" id="user_first_name" placeholder="<%= @user.first_name %>">
            </div>

          <div class="field">
            <input type="email" class="materialize-textarea" name="user[email]" id="user_email" placeholder="<%= @user.email %>">
          </div>

          <div class="field">
            <input type="tel" class="materialize-textarea" name="user[phone_number]" id="user_phone_number" placeholder="To text information to the server, please add your phone number">
          </div>

          <!-- <div class="field">
            <input type="password" class="materialize-textarea" name="user[password]" id="user_password" placeholder="Password:">
          </div>
          <div class="field">
            <input type="password" class="materialize-textarea" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Please Confirm your password:">
          </div> -->
          <div class="actions">
            <button class="btn waves-effect waves-light blue rightFloat" type="submit" name="commit" value="Create User">Submit
              <i class="fa fa-check"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>


<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Session:</strong>
  <%= @user.session_id %>
</p>

<p>
  <strong>Email token:</strong>
  <%= @user.email_token %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
