 <!DOCTYPE html>
<html ng-app='PerfectRez'>
<head>
  <title>PerfectRez</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta name="theme-color" content="#2196F3">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body id="top" class="scrollspy" ng-controller="PerfectRezCtrl as prCtrl">

  <!-- Pre Loader -->
  <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>

  </div>

  <!--Navigation-->
  <div class="navbar-fixed">
     <nav id="nav_f" class="default_color" role="navigation">
         <div class="container">
           <div class="nav-wrapper"><a id="logo-container" href="#top" class="brand-logo">PerfectRez</a>
             <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
             <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><a href="/">Home</a></li>
               <li><a href="/#about">About</a></li>
               <% unless current_user == nil %>
               <li><%= link_to('Logout', session_path, :method => :delete) %></li>
                  <% end %>
               <% unless current_user %>
               <li><a class="modal-trigger" href="#modal2">Sign Up</a></li>
               <li><a class="modal-trigger" href="#modal1">Log In</a></li>
               <% end %>
             </ul>
             <ul class="side-nav" id="mobile-nav">
               <li><a href="/">Home</a></li>
               <li><a href="/#about">About</a></li>
               <% unless current_user == nil %>
               <li><%= link_to('Logout', session_path, :method => :delete) %></li>
                  <% end %>
               <% unless current_user %>
               <li><a class="modal-trigger" href="#modal2">Sign Up</a></li>
               <li><a class="modal-trigger" href="#modal1">Log In</a></li>
               <% end %>
             </ul>
           </div>
         </div>
     </nav>
 </div>



<% unless current_user %>
<!-- Log In Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active makeBlue white-text" href="#login">Log in</a></li>
          </ul>
          <br/>
        </div>
        <div id="login" class="col s10 offset-s1"><%= render 'sessions/form' %></div>
      </div>
    </div>
  </div>

  <!-- Signup Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active makeBlue white-text" href="#signup">Sign up</a></li>
            </ul>
            <br/>
          </div>
          <div id="users" class="col s10 offset-s1"><%= render 'users/form' %></div>
        </div>
      </div>
    </div>
<% end %>

<% if flash[:message] %>
  <div class="message" style="background: lightpink;">
    <%= flash[:message] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
